.container {
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column; /* Adjusted flex-direction for better mobile view */
}

.main {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Added margin for better separation on mobile view */
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    background-color: #3498DB;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.btn:hover {
    background-color: #297FB8;
}

/* You can add more specific styles for the buy-btn and sell-btn if needed */
.buy-btn {
    background-color: #2ECC71;
}

.buy-btn:hover {
    background-color: #27AE60;
}

.sell-btn {
    background-color: #E74C3C;
}

.sell-btn:hover {
    background-color: #C0392B;
}

.btn .icon {
    margin-right: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .btn {
        font-size: 16px;
        padding: 12px;
    }
}

/* Add this CSS to your existing styles or stylesheet */

.btn {
    display: block; /* Change to block to stack buttons on small screens */
    width: 100%; /* Full width on small screens */
    margin-bottom: 10px; /* Adjust the margin between buttons */
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
    /* Adjust styles for screens wider than 768px if needed */
    .btn {
        display: inline-block; /* Revert to inline-block for larger screens */
        width: auto; /* Auto width for larger screens */
        margin-right: 10px; /* Add some spacing between buttons */
    }
}
